.playerBox{
    width: 40vw;
    height: 30vh;
    display: flex;
    
    justify-content: space-evenly;
    margin-top: 15%;


}

img{
    width: 150px;
    height: 150px;
    margin-left: 10%;
    margin-top: 10%;
    
}

.playerbox2 {
    width: 40vw;
    height: 30vh;
    display: flex;
    
    justify-content: center;
}