.playerBox{
    width: 40vw;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15%;


}

img{
    width: 120px;
    height: 120px;
    margin-top: 30%;
    margin-bottom: auto;

    
}

.playerbox2 {
    width: 40vw;
    height: 30vh;
    display: flex;
    
    justify-content: center;
}