.playerBox{
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15%;


}

.paper{
    width: 250px;
    height: 250px;
    border: double 20px transparent;
    border-radius: 50%;
    background-image: linear-gradient( #f2f3f4,  #f2f3f4), radial-gradient(circle at top left, 	#4865F4, #5671F5);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 3%;
    display:flex;
    align-items: center;
}
img{
    width: 150px;
    height: 150px;
    margin-left: 10%;
    margin-top: 10%;
    
}
.divider {
    flex-grow: 1;
    border-bottom: 1px solid black;
    margin: 5px
  }

.scissors{
    width: 250px;
    height: 250px;
    border: double 20px transparent;
    border-radius: 50%;
    background-image: linear-gradient( #f2f3f4,  #f2f3f4), radial-gradient(circle at top left, 	#EC9E0E, #ECA922);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 3%;
}

.rock{
    width: 250px;
    height: 250px;
    border: double 20px transparent;
    border-radius: 50%;
    background-image: linear-gradient( #f2f3f4,  #f2f3f4), radial-gradient(circle at top left, 	#DC2E4E, #DD405D);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 3%;
    margin-left: 27%;
}
